@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}
@theme {
  --color-accent-green: #04bf94;
  --color-green-transparent: #04bf9429;
  --color-accent-gray: #91a0b6;
  --color-gray-300: #ADB8C8;
  --color-gray-500: #78787A;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.background-gradient {
  background: linear-gradient(83.7deg, #cfede6 0%, #8cdecbd4 100%);
}

.app-container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  padding-right: 16px;
}

@media (min-width: 640px) {
  .app-container {
    padding-left: 24px;
    padding-right: 24px;
  }
}

@media (min-width: 768px) {
  .app-container {
    padding-left: 32px;
    padding-right: 32px;
  }
}

@media (min-width: 1024px) {
  .app-container {
    padding-left: 40px;
    padding-right: 40px;
  }
}

@media (min-width: 1280px) {
  .app-container {
    max-width: 1280px;
    padding-left: 48px;
    padding-right: 48px;
  }
}
